.board-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 15px;
    width: 515px;
    height: 515px;
    background-color: #a3a3a3;}

.board-row {
    margin-bottom: 15px;
    padding: 0;
    height: 110px;}
    .board-row:last-child {
        margin-bottom: 0;}

.board-cell {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: #bfbfbf;}
    .board-cell:last-child {
        margin-right: 0;}
